@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinsemibold.woff2') format('woff2'),
            url('../fonts/Librefranklinsemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinmedium.woff2') format('woff2'),
            url('../fonts/Librefranklinmedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinmediumitalic.woff2') format('woff2'),
            url('../fonts/Librefranklinmediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinitalic.woff2') format('woff2'),
            url('../fonts/Librefranklinitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinthin.woff2') format('woff2'),
            url('../fonts/Librefranklinthin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinextralightitalic.woff2') format('woff2'),
            url('../fonts/Librefranklinextralightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinextralight.woff2') format('woff2'),
            url('../fonts/Librefranklinextralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinlight.woff2') format('woff2'),
            url('../fonts/Librefranklinlight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklin.woff2') format('woff2'),
            url('../fonts/Librefranklin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinblack.woff2') format('woff2'),
            url('../fonts/Librefranklinblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinsemibolditalic.woff2') format('woff2'),
            url('../fonts/Librefranklinsemibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinbolditalic.woff2') format('woff2'),
            url('../fonts/Librefranklinbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinthinitalic.woff2') format('woff2'),
            url('../fonts/Librefranklinthinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinbold.woff2') format('woff2'),
            url('../fonts/Librefranklinbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinblackitalic.woff2') format('woff2'),
            url('../fonts/Librefranklinblackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinextrabold.woff2') format('woff2'),
            url('../fonts/Librefranklinextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinlightitalic.woff2') format('woff2'),
            url('../fonts/Librefranklinlightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Libre Franklin';
    src:    url('../fonts/Librefranklinextrabolditalic.woff2') format('woff2'),
            url('../fonts/Librefranklinextrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
