$gray-color: #333333;
$bordo-color: #8B4136;
$brown-color: #C66C49;
$beige-color: #F5D6AB;
$light-color: #FFFAF2;
$white-color: #FFFFFF;
$black-color: #000000;

$desktop-width: 1600px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 425px;






