.header {
    background: url("../img/background.jpg");
    @include background-cover;
    padding: 93px 0 240px 0;

    @include tablet {
        min-height: 0;
        padding: 48px 0 90px 0;
    }

    @include mobile {
        padding: 36px 0 50px 0;
    }

    &__wrapper {
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @include mobile {
            justify-content: center;
            width: 100%;
        }

        &-button {
            display: none;
            background: transparent;
            border: none;

            @include mobile {
                display: block;
                position: relative;
            }
        }

        &-button::before {
            content: url('/img/burger.svg');
            fill: $white-color;
            position: absolute;
            left: -70px;
            top: -10px;
        }

        &-mobile {
            display: none;
            position: absolute;

            @include mobile {
                width: 320px;
                height: 300px;
                top: 0;
                background: $white-color;
                display: block;
            }
        }

        &-heading a {
            @include font(24px, 29px, 700);
            color: $white-color;
            text-decoration: none;

            @include tablet {
                @include font(18px, 22px, 500);
            }

            @include mobile {
                @include font(24px, 29px, 700);
            }

        }

        &-heading a:hover {
            color: $brown-color;
        }

        &-menu {
            width: 50%;
            display: flex;
            justify-content: space-between;

            @include mobile {
                display: none;
            }

        }

        &-item {
            list-style: none;
        }

        &-item a {
            text-decoration: none;
            @include font(18px, 22px, 500);
            color: $white-color;

            @include tablet {
                @include font(15px, 18px);
            }
        }

        &-item a:hover {
            color: $brown-color;
        }
    }

    &__heading {
        @include font(64px, 78px);
        color: $white-color;
        margin: 145px 0 0 0;

        @include tablet {
            @include font(42px, 54px);
            margin: 90px 0 0 0;
        }

        @include mobile {
            @include font(20px, 24px);
            margin: 50px 0 0 0;
            text-align: center;
        }
    }

    &__subheading {
        @include font(24px, 29px);
        color: $white-color;
        margin: 26px 0 106px 0;

        @include tablet {
            @include font(20px, 24px);
            margin: 10px 0 48px 0;
        }

        @include mobile {
            @include font(13px, 16px, 300);
            margin: 13px 0 0 0;
            text-align: center;
        }
    }

    &__link {
        @include font(18px, 22px);
        color: $white-color;

        @include mobile {
            @include font(13px, 16px);
            margin: 41px 0 0 0;
        }
    }

    &__link:hover {
        color: $brown-color;
    }

}