.skills {
    background: $light-color;
    padding: 93px 0 145px 0;

    @include tablet {
        padding: 93px 0 93px 0;
    }

    &__heading {
        @include font(24px,29px,700);
        color: $gray-color;
    }
    &__content {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
        }
    }
    &__img {
        margin: 86px 0 0 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 85px repeat(6,45px);
        margin: 86px 0 0 0;

        &-item {
            @include font(18px,25px,600);
            height: 20px;
        }
        &-description {
            @include font(18px,25px);
            height: 20px;
        }
    }
}